<div class="container">
  <div class="employees">
    <h1 class="text-center"><%= action %> Empleado</h1>
    <%= form_for @employee  do |f| %>
      <% if @employee.errors.any? %>
        <div id="errors_explanation">
          <h2><%=pluralize(@employee.errors.count,"error")%> No se pudo crear categoria por los siguientes errores:</h2>
          <ul>
            <% @employee.errors.full_messages.each do |message| %>
              <li><%=message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :names, class: "form-control", placeholder: "Nombres", required: true %>
          </div>

          <div class="form-group">
            <%= f.telephone_field :phone, class: "form-control", placeholder: "Numero de contacto", required: true %>
          </div>

          <div class="form-group date-picker">
            <%= f.label 'Fecha ingreso' %>
            <%= f.date_select :start_date, { start_year: 2015, end_year: Date.today.year, prompt: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :address, class: "form-control", placeholder: "Dirección" %>
          </div>

          <div class="form-group">
            <%= f.text_field :state, class: "form-control", placeholder: "Departamento" %>
          </div>

          <div class="form-group">
            <%= f.text_field :city, class: "form-control", placeholder: "Ciudad" %>
          </div>

          <div class="form-group role-select">
            <%= f.label 'Role' %>
            <%= f.select :role, Employee.roles.keys.map { |w| [w.humanize, w] }, {}, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.text_field :last_names, class: "form-control", placeholder: "Apellidos", required: true %>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
          </div>

          <div class="form-group date-picker">
            <%= f.label 'Fecha Nacimiento' %>
            <%= f.date_select :birthday, { start_year: 1970, end_year: Date.today.year, prompt: true }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.text_field :identification, class: "form-control", placeholder: "Cédula", required: true %>
          </div>
          <div class="set-pin">
            <div class="form-group">
              <%= f.password_field :password, class: "form-control pin", placeholder: "Ingrese PIN de hasta 10 digitos", autocomplete: 'off', required: true %>
            </div>
            <div class="form-group">
              <%= password_field_tag :password_confirmation, nil, { class: "form-control pin-confirmation", placeholder: "Confirmar PIN", autocomplete: 'off', required: true } %>
              <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="actions d-flex flex-row justify-content-end">
            <%= link_to 'Cancelar', employees_path, class: "btn btn-default" %>
            <%= f.submit '  Crear  ', class: "btn btn-primary create-employee" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  new EmployeePin();
</script>
