<div class="container">
  <h2 class="text-center">Entra como restaurante</h2>
  <div class="row justify-content-center">
    <div class="col-5">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "usuario", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Entrar", class: 'btn btn-primary float-right' %>
        </div>
      <% end %>
    </div>
  </div>  
</div>
