<div class="container">
  <h2 class="text-center">Crea un nuevo Restaurante</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row justify-content-center">
      <div class="col-6">
        <%= f.hidden_field :user_id, value: current_user.id %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo' %>
        </div>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autocomplete: "name", class: 'form-control', placeholder: 'Nombre' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Contraseńa', required: true %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirma Contraseńa', required: true %>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.telephone_field :phone, class: "form-control", placeholder: "Numero de contacto", required: true %>
        </div>

        <div class="form-group">
          <%= f.label 'NIT' %>
          <%= f.text_field :identification, class: "form-control", placeholder: "NIT", required: true %>
        </div>

        <div class="set-pin">
          <div class="form-group">
            <%= label_tag 'Pin para ingresar como empleado' %>
            <%= password_field_tag :password, nil, class: "form-control pin", placeholder: "Ingrese PIN de hasta 10 digitos", autocomplete: 'off', required: true %>
          </div>
          <div class="form-group">
            <%= label_tag 'Confirmar Pin' %>
            <%= password_field_tag :password_confirmation, nil, { class: "form-control pin-confirmation", placeholder: "Confirmar PIN", autocomplete: 'off', required: true } %>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Crear", class: 'btn btn-primary float-right create-employee' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  new EmployeePin();
</script>
