// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require rails-ujs
//= require activestorage
//= require turbolinks
//= require jquery3
//= require popper
//= require bootstrap-sprockets
//= require_tree .

function growl(type, message) {
  $('<div class="alert alert-' + type + '">' + message + '</div>')
      .appendTo('body')
      .delay(4000)
      .fadeOut(4000, function() {
        $(this).remove()
      });
}

<% if Rails.env.test? %>
  $(".fade").removeClass("fade");
<% end %>

$(document).on("turbolinks:load", function() {
  $('[data-toggle="tooltip"]').tooltip();

  <% unless Rails.env.test?  %>
    $('.alert')
      .delay(4000)
      .fadeOut(4000, function() {
        $(this).remove();
      });
  <% end %>

  $('.alert').on("click", function() {
    $(this).remove();
  })
});
