<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class = "text-center"><%= action %> Categoría</h1>
      <%= form_for(@category) do |category| %>
        <% if @category.errors.any? %>
          <div id="errors_explanation">
            <h2><%=pluralize(@category.errors.count,"error")%> No se pudo crear categoria por los siguientes errores:</h2>
            <ul>
            <% @category.errors.full_messages.each do |message| %>
              <li><%=message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= category.label :name %>
          <%= category.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= category.label :description %>
          <%= category.text_area :description, class: "form-control" %>
        </div>
        <div class="actions">
          <%= link_to 'Cancelar', categories_path, class: 'btn btn-default' %>
          <%= category.submit 'Guardar', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
