<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Productos</h1>
        <%= link_to 'Crear producto', new_product_path, class: 'btn btn-primary float-right' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio unitario</th>
            <th>Descripción</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @products.empty? %>
            <tr><td class='text-center'>No hay productos creadas aun</td></tr>
          <% else %>
            <%= render @products %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
