<div class="container">  
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Proveedores</h1>
        <%= link_to 'Crear proveedor', new_supplier_path, class: 'btn btn-primary float-right' %>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Telefono</th>
            <th>NIT</th>
            <th>Nombre Contacto</th>
            <th>Productos</th>
          </tr>
        </thead>
        <tbody>
          <% if @suppliers.empty? %>
          <tr><td class='text-center'>No hay proveedores creados aun</td></tr>
          <% else %>
          <%= render @suppliers %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
