<!DOCTYPE html>
<html>
  <head>
    <title>Njoy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  </head>
  <body class="application-layout">
    <%= render 'layouts/navbar'%>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
